:root {
  --space-cadet: #2d3047ff;
  --jungle-green: #419d78ff;
  --earth-yellow: #e0a458ff;
  --light-orange: #ffdbb5ff;
  --steel-pink: #c04abcff;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 2.5em;
}

nav {
  display: flex;
  padding: 0 3em;
  justify-content: space-between;
  height: 30vh;
  background-color: #419d78ff;
  align-items: center;
  width: 100%;
}

nav > a,
.movies-list-container > a {
  text-decoration: none;
  color: whitesmoke;
}

main {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

form {
  /* background-color: tan; */
  min-width: 500px;
  width: 70%;
  margin: 0 auto;
  height: 3em;
  display: flex;
  align-content: stretch;
  transform: translate(0, -25px);
}

form > input {
  width: 80%;
  padding: 0 2em;
  border-radius: 1em 0 0em 1em;
}
form > button {
  width: 20%;
  border-radius: 0 1em 1em 0;
  background-color: #2d3047ff;
  color: whitesmoke;
}
form > button:hover {
  background-color: #c04abcff;
}

form > input,
form > button {
  outline: none;
  font-weight: bold;
  border: 1px solid #ffdbb5ff;
  /* border: none; */
}
.movies-list-container {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
}
.movie-container {
  border: 1px solid #419d78ff;
  display: flex;
  gap: 1em;
  height: 200px;
  background-color: whitesmoke;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em 0;
  filter: drop-shadow(0.5em 0.5em 0.1em rgb(206, 210, 241));
}
.movie-poster {
  border: 1px solid #419d78ff;
  height: 170px;
  width: calc(170px * 2 / 3);
  border-radius: 5px;
  align-self: flex-start;
}

.movie-details {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0.5em;
  color: black;
  border-radius: 5px;
  width: 100%;
  overflow: auto;
}
.movie-details > p {
  /* background-color: red; */
  margin-top: 0.5em;
}
#movie-button {
  align-self: flex-end;
  border-radius: 5px;
  background-color: #2d3047ff;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: whitesmoke;
  cursor: pointer;
  padding: 0.1em 0.5em;
  flex-grow: 0;
  flex-shrink: 0;
}
#movie-button:hover,
.message-box > a > h3:hover {
  background-color: #c04abcff;
  cursor: pointer;
}
#no-results {
  margin: 20vh auto;
  width: 80%;
  text-align: center;
  color: grey;
}
.message-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}

.message-box > h2 {
  color: #dfdddd;
}

.message-box > a {
  text-decoration: none;
}

.message-box > a > h3 {
  color: whitesmoke;
  background-color: black;
  padding: 0.2em 0.6em;
  align-self: center;
  margin: 1em;
  border-radius: 5px;
}
.message-box > img {
  margin: 1em;
}
